p{ /*字體顏色改成紅色*/
	color: red;
}

img{
	width: 200px;
	height: 200px;
	transition: width 2s, height 2s, transform 2s, background 2s ease-in;	
}

img:hover{ /*碰到圖片會360度轉加放大*/
	width: 400px;
	height: 400px;
	transform: rotate(360deg);	
}

div:hover{ /*碰到div會跑出邊框*/
	border: 3px solid #000000;
}

li:hover{ /*碰到li字體會放大*/
	font-size: 48px;
}